@import "tailwindcss";

@theme {
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --font-heading: var(--font-heading);
  --font-sans: var(--font-sans);
}

@layer base {
  :root {
    --background: hsl(48 100% 97%);
    --foreground: hsl(20 14% 18%);

    --card: hsl(0 0% 100%);
    --card-foreground: hsl(20 14% 18%);

    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(20 14% 18%);

    --primary: hsl(25 76% 31%);
    --primary-foreground: hsl(60 9% 98%);

    --secondary: hsl(123 45% 34%);
    --secondary-foreground: hsl(60 9% 98%);

    --muted: hsl(60 4% 90%);
    --muted-foreground: hsl(25 5% 45%);

    --accent: hsl(29 57% 53%);
    --accent-foreground: hsl(60 9% 98%);

    --destructive: hsl(0 84% 60%);
    --destructive-foreground: hsl(60 9.1% 97.8%);

    --border: hsl(20 5% 85%);
    --input: hsl(20 5% 85%);
    --ring: hsl(25 76% 31%);

    --radius: 0.75rem;
  }

  .dark {
    --background: hsl(20 14% 10%);
    --foreground: hsl(60 9% 98%);

    --card: hsl(20 14% 10%);
    --card-foreground: hsl(60 9% 98%);

    --popover: hsl(20 14% 10%);
    --popover-foreground: hsl(60 9% 98%);

    --primary: hsl(25 76% 31%);
    --primary-foreground: hsl(60 9% 98%);

    --secondary: hsl(123 45% 34%);
    --secondary-foreground: hsl(60 9% 98%);

    --muted: hsl(20 14% 15%);
    --muted-foreground: hsl(25 5% 65%);

    --accent: hsl(29 57% 53%);
    --accent-foreground: hsl(60 9% 98%);

    --destructive: hsl(0 62.8% 30.6%);
    --destructive-foreground: hsl(60 9.1% 97.8%);

    --border: hsl(20 14% 15%);
    --input: hsl(20 14% 15%);
    --ring: hsl(25 76% 31%);
  }
}

@layer base {
  * {
    border-color: var(--border);
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}